# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build and binary directories
bld/
bin/
inc/

# ratesim log files
*.log
*.log.gz

# parser data files
*.dat
*.dat.gz

# images
*.png
*.jpg